<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\LIMSApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
      <security>
        <requestFiltering>
          <!-- 250 MB in bytes: 250 * 1024 * 1024 = 262144000 -->
          <requestLimits maxAllowedContentLength="262144000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
